* {
     padding: 0; 
     margin: 0;
}
body {
    font-family: monospace;

}
.park {
    background: #9DD57B;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}
.tree {
    font-size: 12vmin;
    transform: translate(-50%, -50%);
    position: fixed;
}

.dog {
    display: inline-block;
    font-size: 8vmin;
    transform: translate(-50%, -50%);
    position: fixed;
    cursor: pointer;
}
.bounce {
    animation: bounce 350ms alternate ease-in-out infinite;
}
.title {
    position: absolute;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}
.score {
    font-size: 2.5vw;;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, -50%) translateY(-1.5vmin);
    }
    100% {
        transform: translate(-50%, -50%) translateY(1.5vmin);
    }
}